<%= form_for(@post) do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>

      <%= f.label :song_title, "Song Title" %>
      <%= f.text_field :song_title, class: 'form-control' %>
      
      <% unless current_user.user_type == "Songwriter/Artist" %>
       <%= f.label :song_artist, "Song Artist" %>
       <%= f.text_field :song_title, class: 'form-control'  %>
      <% end %>
       
      <div class="field">
        <%= f.text_area :song_comments, placeholder: "Comments? Questions? Concerns? Thoughts?" %>
      </div>

      <span class="audio">
        <%= f.file_field :audio %>
      </span>

      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>