<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong> <%= @user.following.count %> </strong>
    <span> following </span>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong> <%= @user.followers.count %> </strong>
    <span> <%= pluralize(@user.followers.count, "follower").split[1] %> </span>
  </a>
</div>
